In [13]:
import ray
ray.shutdown()
ray.init()
import modin.pandas as pd
import geopandas as gpd

2020-12-05 00:32:20,707	INFO services.py:1090 -- View the Ray dashboard at http://127.0.0.1:8265

In [14]:
sporametri_data = pd.read_csv('sporametri-movingsites-data0719.csv')
#sporametri_data = sporametri_data[0:10000]
sporametri_data.describe()

,timestamp,spora-id,latitude,longitude,NO,NO2,O3,CO,BME680_pressure,BME680_humidity,BME680_temperature,comment
count,1.125330e+05,112533.000000,112533.000000,112533.000000,94343.000000,94342.000000,94019.000000,93569.000000,112533.000000,112533.000000,112533.000000,0.0
mean,1.562232e+09,2.742653,15.100778,6.257448,6.644363,-2.430716,-0.077893,6.391370,99881.409942,23.418059,40.048686,NaN
std,3.823990e+05,0.437174,26.093137,10.812454,1.999875,0.790122,0.174195,26.045096,490.264633,6.702482,5.303181,NaN
min,1.561982e+09,2.000000,0.000000,0.000000,0.964880,-3.004522,-1.228286,0.344952,99355.000000,17.343000,22.080000,NaN
25%,1.562014e+09,2.000000,0.000000,0.000000,6.444264,-2.772336,-0.218925,0.985722,99599.000000,19.882000,35.510000,NaN
50%,1.562041e+09,3.000000,0.000000,0.000000,6.668434,-2.702772,-0.063004,1.224733,99645.000000,20.246000,42.450000,NaN
75%,1.562069e+09,3.000000,60.165263,24.921905,7.392274,-2.593394,0.074605,1.571157,99755.000000,27.144000,42.770000,NaN
max,1.563780e+09,3.000000,60.216977,24.972197,48.956379,-0.015496,0.723695,233.218658,101747.000000,55.117000,46.590000,NaN

In [15]:
sporametri_data.isnull().sum()

timestamp                  0
spora-id                   0
latitude                   0
longitude                  0
NO                     18190
NO2                    18191
O3                     18514
CO                     18964
BME680_pressure            0
BME680_humidity            0
BME680_temperature         0
comment               112533
dtype: int64

In [10]:
sporametri_data_with_O3 = ~sporametri_data['O3'].isnull()
sporametri_data_O3_with_coordinate = sporametri_data[['latitude','longitude']][sporametri_data_with_O3]